.about h1 {
  font-size: 70px;
}
.aboutme {
  text-align: left;
  font-size: 20px;
  padding: 80px 218px;
}

@media screen and (max-width: 768px) {
  .aboutme {
    font-size: 18px;
    padding: 80px 20px;
    margin-bottom: 75px;
  }
}
