body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}
footer li {
  display: inline;
  padding: 8px;
  font-size: 20px;
}
h1 {
  text-align: center;
  font-size: 100px;
  padding: 0;
}
h3 {
  text-align: center;
  margin-top: -92px;
  font-size: 50px;
  font-weight: 300;
}

img {
  padding: 0;
}
a {
  color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
nav li {
  display: inline;
  padding: 8px;
}

.info {
  font-size: 40px;
  padding-top: 100px;
}
.intro {
  padding-top: 100px;
}
.Skills {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.Skills ul {
  list-style-type: none;
  font-size: 23px;
}

.Skills li {
  display: inline;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.Skills i {
  font-size: 66px;

  color: rgb(101, 173, 255);
}

footer i {
  color: rgb(101, 173, 255);
  font-size: 40px;
}
.NA {
  text-align: center;
}
.about {
  text-align: center;
  font-size: 20px;
  padding: 0 180px;
  padding-bottom: 40px;
}

.tiara {
  display: block;
  margin: 0 auto;
  border-radius: 35px;
}

.con {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  color: rgb(0, 217, 255);
  font-weight: bold;
}

.con i {
  font-size: 60px;
}

.tech {
  display: inline;

  padding: 7px;

  border: 2px solid rgb(0, 0, 0);

  border-radius: 15px;
}

.proj {
  margin-top: 10px;
  padding: 0;
}

.projone:hover {
  opacity: 0.6;
  cursor: pointer;
}

.listone {
  padding-top: 10px;
}

footer {
  background-color: rgb(255, 255, 255);
}
.PROJt {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.techs {
  font-weight: bold;
}

img {
  text-align: center;
}

.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(173, 218, 255, 0.23);
}

navbar.css .brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
  dipslay: none;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}
.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #69c5ff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #75baf2;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;

    flex-direction: column;

    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;

    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .about {
    font-size: 15px;
    padding: 0 15px;
  }
  h1 {
    font-size: 60px;
    margin-bottom: 70px;
  }
  h3 {
    font-size: 40px;
  }
  .Skills li {
    font-size: 20px;
    margin: 10px 40px;
  }
}
