body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}

h1 {
  text-align: center;
  font-size: 100px;
  padding-top: 120px;
}
h3 {
  text-align: center;
  font-family: "Aguafina Script", cursive;
  font-size: 50px;
  font-weight: 300;
}

a {
  color: black;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.info {
  font-size: 40px;
  padding-top: 100px;
}
.intro {
  padding-top: 100px;
}
.Skills {
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
}

.Skills ul {
  list-style-type: none;
  font-size: 23px;
}

.Skills li {
  display: inline;
  padding: 10px;
  color: rgb(0, 0, 0);
}

.Skills i {
  font-size: 66px;

  color: rgb(243, 150, 213);
}

.NA {
  text-align: center;
}

.tiara {
  display: block;
  margin: 0 auto;
  border-radius: 35px;
}

.con {
  list-style-type: none;
  text-align: center;
  margin: 0 auto;
  font-size: 40px;
  color: rgb(0, 217, 255);
  font-weight: bold;
}

.con i {
  font-size: 60px;
}

.tech {
  display: inline;

  padding: 7px;

  border: 2px solid rgb(0, 0, 0);

  border-radius: 15px;
}

.listone {
  padding-top: 10px;
}

.techs {
  font-family: "Aguafina Script", cursive;
}

/* Footer */
footer p {
  text-align: center;
  font-size: 10px;
}
footer li {
  display: inline;
  padding: 8px;
  font-size: 20px;
}
footer i {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: left;
}

/* The typing effect */
.info {
  color: rgb(0, 0, 0);

  overflow: hidden;
  border-right: 0.1em solid rgb(0, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(0, 0, 0);
  }
}
/* Nav Bar */
.navigation {
  height: 60px;

  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  box-shadow: 0 2px 2px 2px rgba(173, 218, 255, 0.23);
}

navbar.css .brand-name {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}
.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #69c5ff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: #75baf2;
}
/* Responsive screens */
@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navigation-menu ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;

    flex-direction: column;

    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
  }
  .navigation-menu li a {
    color: black;

    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 60px;

    margin-bottom: 75px;
  }
  h3 {
    font-size: 40px;
  }
  .skills li {
    display: block;
    font-size: 20px;
    margin: 10px 35px;
  }
}
