.project h1 {
  text-align: center;
  font-size: 40px;
  margin-top: -70px;
  font-family: "Aguafina Script", cursive;
  color: rgb(255, 135, 203);
}

.project .container {
  padding-top: 25px;
}
.row {
  background: rgb(255, 242, 249);
  background: radial-gradient(
    circle,
    rgba(255, 242, 249, 0.7357536764705883) 58%,
    rgba(255, 255, 255, 1) 73%
  );
}
.col em {
  padding: 4px 20px;
  background-color: rgb(246, 145, 211);
  color: rgb(255, 255, 255);
}

span {
  margin: 0 10px;
  padding: 8px 20px;
  background-color: rgb(183, 186, 255);
  color: rgb(255, 255, 255);
}

span:hover,
em:hover {
  background-color: #000000;
}

/* Smaller screens */

@media only screen and (max-width: 600px) {
  .projects h2 {
    font-size: 15px;
  }
}
